* {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Rubik', sans-serif;
  }

header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    color: #4a4a4a;
    font-family: 'Rubik', sans-serif;
  }

img {
  margin-top: 10px;
  width: 155px;
}

.menu {
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 13px;
  }

  .menu-list {
    list-style-type: none;
    display: flex;
  }

  .menu-blog {
    padding-right: 20px;
    text-transform: uppercase;
  }

  .menu-contacto {
    padding-right: 20px;
    text-transform: uppercase;
  }

  h1 {
    text-transform: capitalize;
    color: white;
    font-family: 'Rubik', sans-serif;
  }


main {
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-color: #3CDBC0;
     color: #FFFFFF;
     font-family: 'Rubik', sans-serif;
     font-size: 30px;
   }

   a {
     padding: 10px;
   }

@media all and (min-width: 768px) {
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    h1 {
      font-size: 30px;
    }

    img {
      padding-left: 30px;
    }
}
    
@media all and (min-width: 1200px) {
  h1 {
    font-size: 40px;
  }
}